/* General */
body {
  background: rgb(151, 151, 151);
  background-color: rgb(151, 151, 151);
  background: -webkit-linear-gradient(bottom, rgb(50, 50, 50) 0%,rgb(100, 100, 100) 100%);
  background: -moz-linear-gradient(bottom, rgb(50, 50, 50) 0%,rgb(100, 100, 100) 100%);
  background: linear-gradient(to bottom, rgb(50, 50, 50) 0%, rgb(100, 100, 100) 100%);
  color: white;
  font-family: sans-serif;
  font-size: large;
  min-height: 100vh;
}
a:link.link{
  color:aqua;
}
a:visited.link{
  color:aqua;
}


/* Navbar */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(60, 60, 60);
  font-family: sans-serif;
  font-size: large;
  border-radius: 10px;
}

.navbar-link {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar-name {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-link-active{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: rgb(10, 0, 70);
}


.navbar-link:hover {
  background-color: #111;
}

/* Slideshow */
.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.slider {
    width: 500px;
    height: 400px;
    text-align: center;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.slide:nth-of-type(even) {
    background-color: rgb(122, 122, 122);
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 400px;
    margin-right: 0px;
    box-sizing: border-box;
    background: rgb(55, 55, 55);
    transform-origin: center center;
    transform: scale(1);
    scroll-snap-align: center;
}

.slide__text {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
}

.slide a {
    background: none;
    border: none;
}

a.slide__prev,
.slider::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5%;
}

a.slide__next,
.slider::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
}

.slider::before,
.slider::after,
.slide__prev,
.slide__next {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
    border: solid rgb(10, 0, 70);
    border-width: 0 4px 4px 0;
    padding: 3px;
    box-sizing: border-box;
}

.slider::before,
.slider::after {
  content: '';
  z-index: 1;
  background: none;
  pointer-events: none;
}


.slider__nav {
    box-sizing: border-box;
    position: absolute;
    bottom: 1%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
}

.slider__navlink {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(10, 0, 70);
    margin: 0 10px 0 10px;
}

/* Card */

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: none;
  border: 1px solid #ccc;
  transition: 0.3s;
  padding: 10px 10px;
}

/* Group List */

list-group {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: transparent;
}

.list-group-item {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: transparent;
  padding: 12px;
}

.list-group-portrait-item {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: transparent;
  padding: 12px;
}

.list-group-item ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Enable grid layout */
  grid-template-columns: 1fr 1fr; /* Define two equal columns */
  gap: 10px; /* Optional: Add spacing between items */
  flex-wrap: wrap;
}

.list-group-portrait-item ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Enable grid layout */
  grid-template-columns: 1fr 1fr; /* Define two equal columns */
  gap: 10px; /* Optional: Add spacing between items */
  flex-wrap: wrap;
}



ul li.list-group-image {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: transparent;
  padding: 12px;
  width: 25%;
  align-items: center;
}

ul li.list-group-item {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: transparent;
  padding: 12px;
  display: flex;
  flex: 1;
  width: 60%;
  align-items: center;
  min-height: 80px;
}

ul li.list-group-portrait-image {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: transparent;
  padding: 12px;
  width: 40%;
  align-items: center;
}

ul li.list-group-portrait-item {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: transparent;
  padding: 12px;
  display: flex;
  flex: 1;
  width: 50%;
  align-items: center;
  min-height: 80px;
}



img.list-group-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


